*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
.wapper {
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    
    /* padding: 0 2rem; */
}
.img img{
    /*justify-content: flex-end;
    align-items: center; */
    /* background: url("../img/logo1.png") repeat scroll center center/cover; */
    /* height: 50vh; */
    height: 40vh;
    width: 30vw;
    margin: 150px 5px 0 50px;
    display: flex;   
}



.aboutbtn {
    display: block;
    outline: none;
    border: none;
    height: 40px;
    /* line-height: 50px; */
    width: 150px;
    position: relative;
    background:#d9d9d9;
    /* background: linear-gradient(120deg, #d9d9d9 0%, #74e0ef 100%); */
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #333;
    border-radius: 4px;
    margin: 0 0 0 200px;
    transition: background-image 150ms ease;
}

.signup-container{
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    /* background-color: #7a63ef; */
}

#signup {
    width: 430px;
    box-shadow: 3px 3px 3px 3px #7a63ef;
    padding: 50px 50px;
}



form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #7a63ef;
}
.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 73%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div:after, .input-div:before{
    content:'';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #7a63ef;
    transition: .3s;
}

.input-div:after{
    right: 50%;
}

.input-div::before{
    left: 50%;
}

/*마우스 갖다대면 아이콘 색 바뀜*/
.input-div.focus .i i{ 
    color: #74e0ef;
}

.input-div.focus div h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus:after, .input-div.focus:before{
    width: 50%;
}

.input-div.one{
    margin-top: 0;
}
.input-div.two{
    margin-bottom: 4px;
}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.i i{
    color: #d9d9d9;
    transition: .3s;
} 

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999; /* 아이콘 옆 글자 색*/
    font-size: 18px;
    transition: .3s;
}

.input-div h5.warning{
    color: red !important;
    animation:warning .3s ease;
    animation-iteration-count: 3;
}

.input{ /* textbox 디자인*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}
/* body {
    font-family: Arial, Helvetica, sans-serif;
} */


button:hover {
    opacity: 0.8;
}


.button{
    display: block;
    width: 100%;
    height: 50px;
}
/* 버튼 타입으로 했을 때 */
button{ 
    display: block;
    width: 100%;
    height: 50px;
}

.btn{
    width: 40%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #736aef, #9d8cf3,  #c4baf8);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
    text-align: center;
}

.btn:hover{
    background-position: right; 
}
#contactForm{
    width: 100%;
    height: auto;
}


#leaf{
    width: 100px;

}
#about{
    background-color: #736aef;
}
#portfolio h4{
    color: #999;
    font-family: sans-serif;
}

#contact{
    background: linear-gradient( #f1f1f1, #d9d9d9);


}
.top i{
    position: absolute;
    float: right;
    padding-left: 31em;
    width: 70%;
    height: 100px;
    color: #7a63ef;
  }
  
.container{
    width: 80%;
    padding: 20px;
}

.container.row100{
    position: relative;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(autofit,mix(300px, 1fr)); */
}

.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.container .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #7a63ef;
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border:none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container .row100 .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none; 
}

/* 클릭하면 label위로 올라감 */
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text{
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #736aef;
    opacity: 0.4;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;

}

/* +는 line으로 반응 ~는 상자로 반응 */
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line{
    height: 100%;
}

.container .row100 .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea{
    height: 100%;
    resize: none;
}

/* 클릭하면 label위로 올라감 */
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line{
    height: 100%;
}

#contactbtn{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background:#736aef;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
    width: 100%;
}

.inputBox span.warning{
    color: red !important;
    animation:warning .3s ease;
    animation-iteration-count: 3;
}


/*반응형*/
/* @media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }
    form h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .img{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .wave{
        display: none;
    }
    .signup-container{
        justify-content: center;
    }
}
 */


@media screen and (max-width: 1023px){

    .container{
        grid-template-columns: 1fr;
    }
    .wave{
        display: none;
    }
    .signup-container{
        justify-content: center;
    }
}

@media screen and (max-width: 767px){
    .img{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .wave{
        display: none;
    }
    .signup-container{
        justify-content: center;
    }
}
