body {
    font-family: Arial, Helvetica, sans-serif;
}
.modalbtn {
    width: 80%;
    height: 50px;
    border-radius: 25px;
    /* margin: 3rem 5rem 3rem 4rem; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #736aef, #9d8cf3,  #c4baf8);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}

button:hover {
    opacity: 0.8;
}
.modalbtn:hover{
    background-position: right; 
}

/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 2px 0 30px 0;
    position: relative;
}

img.female {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* overflow: auto; */
    /* Enable scroll if needed */
    background-color: #fff;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fff;
    margin: 3% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    box-shadow: 3px 3px 3px 3px #7a63ef;
    border: 1px solid #7a63ef;
    width: 25%;
    border-radius: 0;
    padding: 10px;
    /* modal 크기 */
}

/* The Close Button (x) */

.close {
    /* x위치 */
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/* 밑줄 */
.input-modal-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 73%;
    margin: 25px 20px;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.input-div label.warning{
    color: red !important;
    animation:warning .3s ease;
    animation-iteration-count: 3;
}

.input {
    /* textbox 디자인*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}

.input-modal-div>div {
    position: relative;
    height: 45px;
}

/* Email password글자색 */

.input-modal-div>div h5 {
    position: absolute;
    left: 10px;
    /* top: 0%; */
    transform: translateY(-50%);
    color: #999;
    /* 아이콘 옆 글자 색*/
    font-size: 18px;
    transition: .3s;
}

.input-modal-div:after,
.input-modal-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #7a63ef;
    transition: .3s;
}

.input-modal-div:after {
    right: 50%;
}

.input-modal-div::before {
    left: 50%;
}

.input-modal-div.focus .i i {
    /*마우스 갖다대면 아이콘 색 바뀜*/
    color: #74e0ef;
}

.input-modal-div.focus div h5 {
    /* 마우스 클릭하면 글 올라가는 부분 */
    top: -20px;
    font-size: 15px;
}

.input-modal-div.focus:after,
.input-modal-div.focus:before {
    width: 50%;
}

.input-modal-div.a {
    margin-top: 0;
}

.input-modal-div.b {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* input 앞에 아이콘 */

.i i {
    color: #d9d9d9;
    transition: .3s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */

/* 반응형 */
@media screen and (max-width: 991px) {
    span.psw {
        display: block;
        float: none;
    }
    .modal-content{
        width: 50%;
    }
    .cancelbtn {
        width: 100%;
    }
}
@media screen and (max-width: 767px){
    span.psw {
        display: block;
        float: none;
    }
    .modal-content{
        /* width: 50%; */
        float: left;
    }
    .cancelbtn {
        width: 100%;
    }

}

