
    .pagination>li {
    display: inline;
    padding:0px !important;
    margin:0px !important;
    border:none !important;
    }
    .modal-backdrop {
      z-index: -1 !important;
    }
    /*
    Fix to show in full screen demo
    */
   

    .btn {
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    }

    

#pencil{
    
   
    font-size:30;
    float:right;
    background-color: transparent;
}
#mycard{
    
    margin-bottom: 20;
}

#mycard:hover{
    
    background-color:#e9f2f2;
 
}
.fa fa pencil{

}
